@using HomeBook.Common
@model HomeBook.Web.ViewModels.About.FactsSectionViewModel
@{
    this.ViewData["Title"] = "About Page";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>About - @GlobalConstants.SystemName</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Moderna - v2.0.1
    * Template URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container">

            <div class="logo float-left">
                <h1 class="text-light"><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a></h1>
            </div>

            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="active"><a asp-area="" asp-controller="About" asp-action="Index">About</a></li>
                    <li class="active"><a asp-area="" asp-controller="Services" asp-action="Index">Services</a></li>
                    <li class="active"><a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a></li>
                    <partial name="_LoginPartial" />
                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= About Us Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>About</h2>
                    <ol>
                        <li class="text-light"><a class="" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li>About</li>
                    </ol>
                </div>

            </div>
        </section><!-- End About Us Section -->
        <!-- ======= About Section ======= -->
        <section class="about" data-aos="fade-up">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6">
                        <img src="~/img/about.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <h3>What are the benefits when choosing Homebook as your house manager?</h3>
                        <ul>
                            <li><i class="icofont-check-circled"></i> We will improve the collection of monthly entrance fees.</li>
                            <li><i class="icofont-check-circled"></i> We will keep precisely the necessary documentation, according to the normative requirements.</li>
                            <li><i class="icofont-check-circled"></i> we have experience in solving various cases and problems.</li>
                        </ul>
                        <p>
                            Homebook is a trademark of Homebook Bulgaria OOD. The company was established in 2020 and its goals are to offer services and products to citizens, owners, users or residents of individual sites and common areas in co-ownership in residential and commercial buildings. The services offered are in line with the amendments to the condominium management law (LSMA) adopted in 2010.
                            A team of young and educated specialists will replace the current house manager in your entrance, each of them - a specialist in their work will monitor the quality of service and services provided for your common parts in co-ownership. Better cleaning, higher level of service of your elevator and the elevator cage, higher illumination of the stairwell, greater security for the access regime in the building, more pleasant appearance of the building and its adjacent areas, landscaping and maintenance of lawns, keeping all the necessary documentation, preparation of parking strategies for owners and tenants and reconstruction of designated areas and areas, management of common areas for commercial purposes (rental if possible of roofs, canopies and gables) for advertising, ground, underground and basement premises for business purposes) and a large number of other services.

                            Our goals are for the entrance where you live to be cleaned, lit, locked, with secured parking spaces. In the long run, we want to make the building energy efficient, with green areas and playgrounds without burdening your family budget.
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Facts Section ======= -->
        <section class="facts section-bg" data-aos="fade-up">
            <div class="container">

                <div class="row counters">

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">@Model.Cities.Count()</span>
                        <p>Cities</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">@Model.Buildings.Count()</span>
                        <p>Buildings</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">@Model.Apartments.Count()</span>
                        <p>Apartments</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">@Model.Users.Count()</span>
                        <p>Clients</p>
                    </div>

                </div>

            </div>
        </section><!-- End Facts Section -->
        <!-- ======= Testimonials Section ======= -->
        <section class="testimonials" data-aos="fade-up">
            <div class="container">

                <div class="section-title">
                    <h2>Testimonials</h2>
                    <p>A small part of the positive comments from our satisfied customers.</p>
                </div>

                <div class="owl-carousel testimonials-carousel">

                    <div class="testimonial-item">
                        <img src="~/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>Saul Goodman</h3>
                        <h4>Ceo &amp; Founder</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            After a long search, we finally came across a reliable and well-established company like Homebook.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img src="~/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            I'm extremely pleased with the results achieved with the company Homebook, as well as their correct attitude.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img src="~/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            The best experts on the market!
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img src="~/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Homebook offers quality and fast service!
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img src="~/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            They always solve neighborhood problems in the most trouble-free way.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                </div>

            </div>
        </section><!-- End Testimonials Section -->

    </main><!-- End #main -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>
    <script src="~/vendor/venobox/venobox.min.js"></script>
    <script src="~/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/vendor/counterup/counterup.min.js"></script>
    <script src="~/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>

</body>

</html>