@model HomeBook.Web.ViewModels.Cities.CitiesListViewModel
@using HomeBook.Common
@{ this.ViewData["Title"] = "Cities"; }

<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container">

        <div class="logo float-left">
            <h1 class="text-light"><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a></h1>
        </div>

        <nav class="nav-menu float-right d-none d-lg-block">
            <ul>
                <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active"><a asp-area="" asp-controller="About" asp-action="Index">About</a></li>
                <li class="active"><a asp-area="" asp-controller="Services" asp-action="Index">Services</a></li>
                <li class="active"><a asp-area="" asp-controller="BlogPosts" asp-action="Index">Blog</a></li>
                <li class="active"><a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a></li>
                <partial name="_LoginPartial" />
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->
<br />
<br />
<br />
<br />
<h2>
    All Cities (@Model.Cities.Count())
    <span>
        <a class="btn btn-info" asp-area="Administration" asp-controller="Cities" asp-action="AddCity">Add New City</a>
    </span>
</h2>

<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Streets</th>
            <th scope="col">Delete Button</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var city in this.Model.Cities)
        {
            <tr>
               <th scope="row">@city.Name</th>
               <td>@city.StreetsCount</td>
               <td>
                   @if (city.Id <= GlobalConstants.SeededDataCounts.Cities)
                   {
                        <div class="text-muted" style="font-size:smaller">
                            Seeded Data <br />Cannot Be Deleted
                        </div> }
                    else
                    {
                        <form method="post">
                            <button type="submit" class="btn btn-danger btn-sm"
                                asp-area="Administration" asp-controller="Cities" asp-action="DeleteCity" asp-route-id="@city.Id">
                                Delete
                             </button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
