@model HomeBook.Web.ViewModels.Buildings.BuildingsListViewModel
@using HomeBook.Common
@{ this.ViewData["Title"] = "Buildings"; }

<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container">

        <div class="logo float-left">
            <h1 class="text-light">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
            </h1>
        </div>

        <nav class="nav-menu float-right d-none d-lg-block">
            <ul>
                <li class="active">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="active">
                    <a asp-area="" asp-controller="About" asp-action="Index">About</a>
                </li>
                <li>
                    <a href="services.html">Services</a>
                </li>
                <li class="active">
                    <a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                </li>
                <partial name="_LoginPartial" />
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->
<br />
<br />
<br />
<br />
<h2>
    All Buildings (@Model.Buildings.Count())
    <span>
        <a class="btn btn-info" asp-area="Administration" asp-controller="Buildings" asp-action="AddBuilding">Add New Building</a>
    </span>
</h2>

<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Building full address</th>
            <th scope="col">Entrances</th>
            <th scope="col">Delete Button</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var building in this.Model.Buildings)
        {
            <tr>
               <th scope="row">@building.BuildingFullAddress</th>
               <td>@building.EntrancesCount</td>
               <td>
                   @if (building.Id <= GlobalConstants.SeededDataCounts.Buildings)
                   {
                        <div class="text-muted" style="font-size:smaller">
                            Seeded Data <br />Cannot Be Deleted
                        </div> }
                    else
                    {
                        <form method="post">
                            <button type="submit" class="btn btn-danger btn-sm"
                                asp-area="Administration" asp-controller="Buildings" asp-action="DeleteBuilding" asp-route-id="@building.Id">
                                Delete
                             </button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>