@model HomeBook.Web.ViewModels.Apartments.ApartmentsListViewModel
@using HomeBook.Common
@{ this.ViewData["Title"] = "Apartments"; }

<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container">

        <div class="logo float-left">
            <h1 class="text-light">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
            </h1>
        </div>

        <nav class="nav-menu float-right d-none d-lg-block">
            <ul>
                <li class="active">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="active">
                    <a asp-area="" asp-controller="About" asp-action="Index">About</a>
                </li>
                <li>
                    <a href="services.html">Services</a>
                </li>
                <li class="active">
                    <a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                </li>
                <partial name="_LoginPartial" />
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->
<br />
<br />
<br />
<br />
<h2>
    All Apartments (@Model.Apartments.Count())
    <span>
        <a class="btn btn-info" asp-area="Administration" asp-controller="Apartments" asp-action="AddApartment">Add New Apartment</a>
    </span>
</h2>

<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Apartment Number</th>
            <th scope="col">Number of residents</th>
            <th scope="col">Delete Button</th>
            <th scope="col">Payments</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var apartment in this.Model.Apartments)
        {
            <tr>
               <th scope="row">@apartment.ApartmentNumber</th>
               <td>@apartment.NumberOfResidents</td>
               <td>
                   @if (apartment.Id <= GlobalConstants.SeededDataCounts.Apartments)
                   {
                        <div class="text-muted" style="font-size:smaller">
                            Seeded Data <br />Cannot Be Deleted
                        </div> }
                    else
                    {
                        <form method="post">
                            <button type="submit" class="btn btn-danger btn-sm"
                                asp-area="Administration" asp-controller="Apartments" asp-action="DeleteApartment" asp-route-id="@apartment.Id">
                                Delete
                             </button>
                        </form>
                    }
                </td>
                 <td>@apartment.PaymentsCount</td>
            </tr>
        }
    </tbody>
</table>