@using HomeBook.Common
@model HomeBook.Web.ViewModels.BlogPosts.BlogPostListViewModel
@{
    this.ViewData["Title"] = "Blog";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Blog - @GlobalConstants.SystemName</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Moderna - v2.0.1
    * Template URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container">

            <div class="logo float-left">
                <h1 class="text-light"><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a></h1>
            </div>

            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="active"><a asp-area="" asp-controller="About" asp-action="Index">About</a></li>
                    <li class="active"><a asp-area="" asp-controller="Services" asp-action="Index">Services</a></li>
                    <li class="active"><a asp-area="" asp-controller="BlogPosts" asp-action="Index">Blog</a></li>
                    <li class="active"><a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a></li>
                    <partial name="_LoginPartial" />
                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= About Us Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Blog</h2>
                    <ol>
                        <li class="text-light"><a class="" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li>Blog</li>
                    </ol>
                </div>
            </div>
        </section><!-- End Blog Section -->
        <!-- ======= Blog Section ======= -->
        <section class="blog" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
            <div class="container">

                <div class="row">

                    <div class="col-lg-8 entries">

                        @foreach (var blogPost in Model.BlogPosts)
                        {
                            <article class="entry">

                                <div class="entry-img">
                                    <img src="@blogPost.ImageUrl" alt="" class="img-fluid">
                                </div>

                                <h2 class="entry-title">
                                    <a href"asp-area="" asp-controller="BlogPosts" asp-action="SinglePost" asp-route-id="@blogPost.Id">
                                        @blogPost.Title
                                    </a>
                                </h2>

                                <div class="entry-meta">
                                    <ul>
                                        <li class="d-flex align-items-center">
                                            <i class="icofont-user"></i> <a href"asp-area="" asp-controller="BlogPosts" asp-action="SinglePost" asp-route-id="@blogPost.Id">
                                                @blogPost.Author
                                            </a>
                                        </li>
                                        <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a asp-area="" asp-controller="BlogPosts" asp-action="SinglePost" asp-route-id="@blogPost.Id"><time datetime="">@blogPost.CreatedOn</time></a></li>
                                    </ul>
                                </div>

                                <div class="entry-content">
                                    <div>
                                        <a data-toggle="tooltip" title="@blogPost.Content">
                                        @(blogPost.Content.Length > 250 ? blogPost.Content.Substring(0, 250) + "..." : blogPost.Content)
                                        </a>
                                    </div>
                                    <div class="read-more">
                                        <a asp-area="" asp-controller="BlogPosts" asp-action="SinglePost" asp-route-id="@blogPost.Id">Read More</a>
                                    </div>
                                </div>

                            </article><!-- End blog entry -->
                        }

                        <div class="blog-pagination">
                            <ul class="justify-content-center">
                                <li class="disabled"><i class="icofont-rounded-left"></i></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href=""><i class="icofont-rounded-right"></i></a></li>
                            </ul>
                        </div>

                    </div><!-- End blog entries list -->

                    <div class="col-lg-4">
                        <div class="sidebar">

                            <h3 class="sidebar-title">Recent Posts</h3>
                            <div class="sidebar-item recent-posts">
                                @foreach (var recentPost in Model.BlogPosts)
                                {
                                    <div class="post-item clearfix">
                                        <img src="@recentPost.ImageUrl" alt="">
                                        <h4><a href="blog-single.html">@recentPost.Title</a></h4>
                                        <time datetime="">@recentPost.CreatedOn</time>
                                    </div>
                                }

                            </div><!-- End sidebar recent posts-->

                        </div><!-- End sidebar -->

                    </div><!-- End blog sidebar -->

                </div><!-- End .row -->

            </div><!-- End .container -->

        </section><!-- End Blog Section -->

    </main><!-- End #main -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>
    <script src="~/vendor/venobox/venobox.min.js"></script>
    <script src="~/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/vendor/counterup/counterup.min.js"></script>
    <script src="~/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>

</body>

</html>