@model HomeBook.Web.ViewModels.Entrances.EntrancesListViewModel
@using HomeBook.Common
@{ this.ViewData["Title"] = "Entrances"; }

<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container">

        <div class="logo float-left">
            <h1 class="text-light">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
            </h1>
        </div>

        <nav class="nav-menu float-right d-none d-lg-block">
            <ul>
                <li class="active">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="active">
                    <a asp-area="" asp-controller="About" asp-action="Index">About</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Services" asp-action="Index">Services</a>
                </li>
                <li class="active">
                <a asp-area="" asp-controller="BlogPosts" asp-action="Index">Blog</a>
                </li>
                <li class="active">
                    <a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                </li>
                <partial name="_LoginPartial" />
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->
<br />
<br />
<br />
<br />
<h2>
    All Entrances (@Model.Entrances.Count())
    <span>
        <a class="btn btn-info" asp-area="Administration" asp-controller="Entrances" asp-action="AddEntrance">Add New Entrance</a>
    </span>
</h2>

<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Entrance address sign</th>
            <th scope="col">Apartments</th>
            <th scope="col">Delete Button</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entrance in this.Model.Entrances)
        {
            <tr>
               <th scope="row">@entrance.EntranceAddressSign</th>
               <td>@entrance.ApartmentsCount</td>
               <td>
                   @if (entrance.Id <= GlobalConstants.SeededDataCounts.Entrances)
                   {
                        <div class="text-muted" style="font-size:smaller">
                            Seeded Data <br />Cannot Be Deleted
                        </div> }
                    else
                    {
                        <form method="post">
                            <button type="submit" class="btn btn-danger btn-sm"
                                asp-area="Administration" asp-controller="Entrances" asp-action="DeleteEntrance" asp-route-id="@entrance.Id">
                                Delete
                             </button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>