@model HomeBook.Web.ViewModels.Payments.PaymentsListViewModel
@using HomeBook.Common
@{ this.ViewData["Title"] = "Payments"; }

<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container">

        <div class="logo float-left">
            <h1 class="text-light">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
            </h1>
        </div>

        <nav class="nav-menu float-right d-none d-lg-block">
            <ul>
                <li class="active">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="active">
                    <a asp-area="" asp-controller="About" asp-action="Index">About</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Services" asp-action="Index">Services</a>
                </li>
                <li class="active">
                <a asp-area="" asp-controller="BlogPosts" asp-action="Index">Blog</a>
                </li>
                <li class="active">
                    <a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                </li>
                <partial name="_LoginPartial" />
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->
<br />
<br />
<br />
<br />
<h2>
    All Payments (@Model.Payments.Count())
    <span>
        <a class="btn btn-info" asp-area="Administration" asp-controller="Payments" asp-action="AddPayment">Add New Payment</a>
    </span>
</h2>

<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Apartment Id</th>
            <th scope="col">Is it paid</th>
            <th scope="col">Totam sum</th>
            <th scope="col">Delete Button</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payment in this.Model.Payments)
        {
            <tr>
               <th scope="row">@payment.ApartmentId</th>
               <td>@payment.IsItPaid</td>
               <td>@payment.TotalSum</td>
               <td>
                   @if (payment.Id <= GlobalConstants.SeededDataCounts.Payments)
                   {
                        <div class="text-muted" style="font-size:smaller">
                            Seeded Data <br />Cannot Be Deleted
                        </div> }
                    else
                    {
                        <form method="post">
                            <button type="submit" class="btn btn-danger btn-sm"
                                asp-area="Administration" asp-controller="Payments" asp-action="DeletePayment" asp-route-id="@payment.Id">
                                Delete
                             </button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>